* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.container {
  height: 100vh;
  background: url("/assests/images/header-background-mobile.png");
}

header {
  height: 100px;
}

nav {
  display: flex;
  justify-content: space-between;
}

.myLogo {
  font-weight: 700;
  font-size: 18px;
  position: relative;
  color: #6070ff;
  top: 58px;
  left: 24px;
}

.myBar {
  width: 56px;
  height: 20px;
  position: relative;
  color: #6070ff;
  top: 58px;
}

section {
  display: flex;
  flex-direction: column;
  background: url("/assests/images/header-shapes\ mobile.png");
  height: 100vh;
  background-repeat: no-repeat;
}

h2 {
  color: #172b4d;
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
}

.headline {
  position: relative;
  width: 327px;
  height: 150px;
  top: 100px;
  left: 24px;
  right: 24px;
}

.about-me {
  width: 327px;
  height: 146px;
  font-family: "Poppins", sans-serif;
  position: relative;
  margin-top: 60px;
  color: #344563;
  margin-left: 12px;
  font-weight: 400;
  font-size: 16px;
}

.meet {
  position: relative;
  margin-top: 72px;
  color: #6070ff;
  font-weight: 500;
  margin-left: 24px;
}

.social-icons {
  position: relative;
  top: 12px;
  left: 24px;
  color: #344563;
}

.social-icons-list {
  position: relative;
  width: 150px;
  display: flex;
  justify-content: space-between;
}

li {
  list-style: none;
}
